body {
  font-family: 'Mukta Mahee', sans-serif;
  background-color: #e8dcb6;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='Artboard-5' fill='%23c2a31c' fill-opacity='0.22' fill-rule='nonzero'%3E%3Cpath d='M6 18h12V6H6v12zM4 4h16v16H4V4z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");  
}

#red {
  background: red;  
  border-radius: 100% 0px 0px 0px;
  border-right: solid 6px;
  border-bottom: solid 6px;
}
#blue {
  background: blue;
  border-radius: 0px 100% 0px 0px;
  border-left: solid 6px;
  border-bottom: solid 6px;
}
#yellow {
  background: #FFEA00;
  border-radius: 0px 0px 0px 100%;
  border-right: solid 6px;
  border-top: solid 6px;
}
#green {
  background: green;
  border-radius: 0px 0px 100% 0px;
  border-left: solid 6px;
  border-top: solid 6px;
}

#winAlert, #welcomeBox, .controller-board {
  background: silver; 
  border: 3px solid #333;
  border-radius: 50px;
  display: inline-block;  
  position: relative;
}

.controller-board {
  width: 200px;
  top: -280px;
  padding-bottom: 10px;
}

#winAlert { top: -457px; padding: 20px; }

#welcomeBox { top: -470px; padding: 15px; }

.simon-board {
  display: inline-block;
  margin: 0 auto;
  margin-top: 35px;  
}

.simon-button {
  position: relative;  
  height: 199px;
  width: 199px;
  border: 16px solid #333;
  cursor: pointer;  
}